<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    td,
    th {
        border: 1px solid black;
        padding: 20px;
    }
    
    table {
        border: 1px solid black;
        background-color: aquamarine;
    }
    
    #anchor {
        border: 1px solid black;
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: aqua;
    }
    
    #a {
        display: flex;
        justify-content: center;
    }
    
    #b {
        display: flex;
        justify-content: center;
    }
</style>

<body>
    <div id="a">
        <% for(let x = 1;x<=count_1;x++) {%>
            <a id="anchor" href="page?no=<%=x%>">
                <%=x%>
            </a>
            <%  } %>
    </div>



    <div id="b">
        <% if(sort_this == "asc") 
            {sort_this = "desc"} else 
              {sort_this = "asc"} 
                   %>
            <table>
                <tr>
                    <th onclick='window.location.href = `page?no=1&&sort=id&&sort_this=<%=sort_this%>`'>id</th>
                    <th onclick='window.location.href = `page?no=1&&sort=first_name&&sort_this=<%=sort_this%>`'>first_name</th>
                    <th onclick='window.location.href = `page?no=1&&sort=last_name&&sort_this=<%=sort_this%>`'>last_name</th>
                    <th onclick='window.location.href = `page?no=1&&sort=contact&&sort_this=<%=sort_this%>`'>contact</th>
                    <th onclick='window.location.href = `page?no=1&&sort=city&&sort_this=<%=sort_this%>`'>city</th>
                </tr>


                <% for (const x of t1)  {%>
                    <tr>
                        <td>
                            <%=x.id%>
                        </td>
                        <td>
                            <%=x.first_name%>
                        </td>
                        <td>
                            <%=x.last_name%>
                        </td>
                        <td>
                            <%=x.contact%>
                        </td>
                        <td>
                            <%=x.city%>
                        </td>

                    </tr>
                    <%} %>



            </table>

    </div>


</body>

</html>